@model FamilyTree.Models.PersonViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />

    <table class="table">
        <tbody>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    @Html.DisplayFor(model => model.person.FullName)
                </td>
            </tr>

            <tr>
                <td>
                    Status
                </td>
                <td>
                    @Html.DisplayFor(model => model.person.IsDeceased)
                </td>
            </tr>

            @foreach (var item in Model.parents)
            {
                @if (item != null)
                {
                    <tr>
                        <td>
                            Parent
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Person", new { selectedPerson = item, id = item.PersonId }, null)">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </a>
                        </td>
                    </tr>
                }
            }

            @if (Model.person.IsParent == IsParent.True)
            {
                <tr>
                    <td>
                        Parental Role
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.person.ParentalRole)
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
